<p id="notice"><%= notice %></p>
<h1>simeple form</h1>
<%= simple_form_for @iteam do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :color %>
  <%= f.input :quantity %>
  <%= f.button :submit %>
<% end %>


<%= link_to 'New Iteam', new_iteam_path %>
