<p id="notice"><%= notice %></p>

<h1>Iteams</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Color</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @iteams.each do |iteam| %>
      <tr>
        <td><%= iteam.name %></td>
        <td><%= iteam.description %></td>
        <td><%= iteam.price %></td>
        <td><%= iteam.color %></td>
        <td><%= iteam.quantity %></td>
        <td><%= link_to 'Show', iteam %></td>
        <td><%= link_to 'Edit', edit_iteam_path(iteam) %></td>
        <td><%= link_to 'Destroy', iteam, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Iteam', new_iteam_path %>
